.container{
    width: 40%;
    padding: 50px;
    margin:50px auto;
    background-color: grey;
    border-radius: 12px;
    min-width: 500px;
}
.row{
    display:flex;
}
.num,
.operation,
.clear{
    flex:1 1 25%;
    height: 75px;
    margin: 5px ;
    border-radius: 12px;
}
.wide{
    flex-basis: 75%;
}

.display{
    text-align: right;
    height: 50px;
    padding: 15px 5px;
    background-color: lightgray;
    margin:5px;
    border-radius: 12px;
    font-size: 40px;
}


body,
button{
    font-size: 28px;
    font-family: 'Quicksand', 'Roboto', sans-serif;
}

.num{
    background-color: azure;
}

.clear{
    background-color: darkgray;
    color: azure;
}
.operation{
    background-color: orange;
    color: azure;
}